table.pmj_default tbody tr:nth-child(even),
table.pmj_azul_celeste tbody tr:nth-child(even)
{
    background-color: #a4b7ec2e;
}

table.pmj_cereja tbody tr:nth-child(even)
{
    background-color: #ffd5d5;
}

table.pmj_verde_limao tbody tr:nth-child(even)
{
    background-color: #c8efd1;
}

table.pmj_vermelho tbody tr:nth-child(even)
{
    background-color: #ffb2b2;
}